Documents/~$Basic Scholarship Awarding Graphs.pptx
Documents/~$*
*.tmp
Code/R/RWithSQLServer/Example Data/~$DemoData.xlsx
Code/R/RWithSQLServer/Example Data/~$DemoData2.xlsx
.Rproj.user
Experiment Parts/~$AwardingGroupAwardingYear25Stats.xlsx
Code/R/RWithSQLServer/Example Data/ImportedData/~*
